
<%- include("partials/header"); -%>
<body style="background-color: black;">



    <div class="video-container">
        <!-- hidden -->   
        <!-- <div class="Time">1</div> -->
        

        <!-- iframes -->
        <div style="opacity: 0.92;" class="loop">  

            <% videoBox.forEach(function(i){  %>
            <div>
                <iframe  class="videoBox"  src="<%= i.name %>"  width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen scrolling="yes" ">
                </iframe>
                <form action="/" class="position" method="post">
                    <input  class="inputUrl" name="postUrl" value="<%= i.name %>" autocomplete="off"></input>
                        <button type="submit" name="button" value="<%= i._id %>" class="buttonLink"></button> 
                        <input class="checkAutoplay" type="checkbox" name="buttonAutoplayMute" autocomplete="off"  ></input>
                </form>
            </div>
           <% }) %>  

        </div>

        <!-- invisibleBox -->
        <div class="secondBox" >

            <div class="krosia" >
                <p id="krosiaUp"> :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) </p>  
                <p id="krosiaDown"> © 89testing 2020  </p>  
            </div>
            <iframe  id="animationBox"   src="https://iliasskourlas.github.io/Canvas7Aliens/" frameborder="0" loading=”lazy” allowfullscreen scrolling="no" "> </iframe> 
            <iframe  id="invisibleBox"   src="<%= inputUrl %>" frameborder="0" loading=”lazy” allowfullscreen scrolling="yes" "> </iframe> 
               
        </div>
       
        <!-- left menu -->
        <div class="leftMenu">

            <!-- living room input -->
            <form  action="/livingroomInput" method="post">
                <input id="livingroomInput" type="text" name="livingroomInput"   value="<%=livingroomNow%>">
            </form>

            <div class="memories">
                
               
                <form action="/memory" method="post">
                    <div class="memoryBox">
                        <button id="livingroomButton" type="submit" name="memoryButton" value="weel0" class="memoryButtons"  >Comm</button>
                        <button type="submit" name="memoryButton" value="weel1" class="memoryButtons"  >1</button>
                        <button type="submit" name="memoryButton" value="weel2" class="memoryButtons"  >2</button>
                        <button type="submit" name="memoryButton" value="weel3" class="memoryButtons"  >3</button>
                        <button type="submit" name="memoryButton" value="weel4" class="memoryButtons"  >4</button>
                        <button type="submit" name="memoryButton" value="weel5" class="memoryButtons"  >5</button>
                    </div>
                </form>
                <form action="/copy" method="post">
                    <input class="checkbox" id="copyCheckbox" type="checkbox" name="copy" onchange="this.form.submit()" ></input>
                </form>


                <div class="background">

                    <form action="/backgroundVideo" method="post">
                        <button class="backgroundButton" id="backgroundVideoButton"  type="submit"  >background</button>                 
                    </form>
                    <!-- <form action="/backgroundSound" method="post">
                        <button class="backgroundButton" id="backgroundSoundButton"  type="submit"  >Sound</button>
                    </form> -->

                </div>

            </div>
        <!-- <iframe id="backgroundSound" src= "<%= backgroundSound  %>" width="560" height="315" frameborder="0" allowfullscreen ></iframe>  -->
        
        </div>

        <!-- righPanel -->
        <dir class="rightPanel">
            
            <iframe  id="rightPanel"   src="<%=rightPanel%>" width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen scrolling="yes" "> </iframe> 

        </dir>

        <!-- background Video iframe -->
        <div class="backgroundIframe">
            <iframe id="backgroundVideo" src= "<%= backgroundVideo  %>" width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen ></iframe> 
        </div>


    </div>
        


<%- include("partials/footer"); -%>

