
<%- include("partials/header"); -%>


<dir class="afterBodyHome">
    <div   id="hoverSpot"> </div>


    <div class="rightMenu">
        <p>
            X: <span id="x-value"></span>
        </p>
        <p>
            Y: <span id="y-value"></span>
        </p>
    </div>
   
    
    <div style="opacity: 0.92;" class="loop">   
        <% videoBox.forEach(function(i){  %>
        <div>
            <iframe  class="giveId" id="v1" src="<%= i.name %>"  width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen scrolling="yes" onload="load('Done func');" onerror="error('failed function');">
            </iframe>
            <form action="/" class="position" id="1" method="post">
                <input id="i1" class="inputId" name="postUrl" value="<%= i.name %>" autocomplete="off"></input>
                    <button type="submit" name="button" value="<%= i._id %>" class="buttonLink"></button> 
                    <input  type="checkbox" name="buttonAutoplayMute"  class="buttonAutoplayMute" autocomplete="off"  ></input>
            </form>
        </div>
       <% }) %>   

    </div>
    <div class="blur"> </div>
    <div class="loginReginster">
        
        <p class="p1">email</p>
        <p class="p2">pass</p>

        <form action="/login" method="post">
            <div class="inputA"> 
                <input class="inputA" type="email" name="username" id="" >
            </div>
            <div class="inputB"> 
                <input type="password" name="password" id="" >
            </div>
            <button class="invisible" type="submit"></button>
        </form>

    </div>
    
    <div class="backgroundVideo">
        <iframe id="background" src= "<%= backgroundBox  %>" width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen ></iframe> 
    </div>
</dir>


<%- include("partials/footer"); -%>

