
<%- include("partials/header"); -%>
<body>
  <div class="video-container">

    <div >
        <div class="introMenu">
           <a  href="/"><p id="home">home</p></a> 
           <a href="/register"><p id="register" >register</p></a> 
        </div>

      <div style="opacity: 0.92;" class="loop">   
          <% videoBox.forEach(function(i){  %>
          <div id="videoBox">
              <iframe  class="giveId" id="v1" src="<%= i.name %>"   frameborder="0" loading=”lazy” allowfullscreen scrolling="yes" onload="load('Done func');" onerror="error('failed function');">
              </iframe>
              <!-- <form action="/" class="position" id="1" method="post">
                  <input id="i1" class="inputId" name="postUrl" value="<%= i.name %>" autocomplete="off"></input>
                      <button type="submit" name="button" value="<%= i._id %>" class="buttonLink"></button> 
                      <input  type="checkbox" name="buttonAutoplayMute"  class="buttonAutoplayMute" autocomplete="off"  ></input>
              </form> -->
          </div>
      <% }) %>   

      </div>

      <div class="blur"> </div>

      <div class="loginReginsterBox">

        <div class="colorLayer"> </div>
          
          
          <form class="loginReginsterInputs" action="/login" method="post">
                  <input class="inputA" type="email" name="username" autocomplete="on" placeholder="email">
                  <input class="inputB" type="password" name="password" autocomplete="off" placeholder="pass">
                  <button class="invisible" type="submit"></button>
          </form>

      </div>

      <div class="backgroundIframe">
          <iframe id="backgroundVideo" src= "<%= backgroundVideo  %>" width="560" height="315" frameborder="0" loading=”lazy” allowfullscreen ></iframe> 
      </div>
          
      
  </div>

<%- include("partials/footer"); -%>

